html{
    background: linear-gradient(90deg,rgb(130, 130, 219), rgb(154, 222, 154));
    color:black
    }
    /*linear gradient purple to green left to right*/
body{
    background:white;
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-start-end-radius: 5px;
}
/*8 ball outline menu, curving edges and making things look more appealing*/
eightBall {
    width:350px;
    height: 350px;
    background: black;
    color: white;
    margin: auto;
    margin-top: 10px;
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
answer {
    font-size: 25px;
}